body, html{
  width: 100%;
  height: 100%;
}
*{
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

/********************************

          toolbar

********************************/





.btn{
  outline: none;
  color: #254b57;
  background: #fff;
  border: #254b57;
  box-shadow: 3px 5px 11px -3px rgba(0,0,0,0.18);
  transition: .2s;
}
.btn:hover{
  background: #254b57;
  color: #fff;

}
.initial:hover{
  margin-top: -20px;
  transition: .5s ease-in-out;
}
.btn:active{
  color: #fff;
  background: #254b57;
  border: #254b57;
}
.score{
  color: #fff;
  font-weight: 700;
  margin-bottom: 2%;
}


/********************************

          snake header

********************************/


#toolbar{
   /* toolbarHeight = totalHeight * 0.166666667  */
  height: 11.1111111%;
  background: #fff;
  color: #000;
  width: 100%;
  position: relative;
  overflow: hidden;
}

@media (max-width: 401px){

  #toolbar{
    /* toolbarHeight = totalHeight * 0.111111111 */
    height: 16.6666667%;
  }


}

.header-left{
  position: absolute;
  top: 50%;
  left: 1em;
  transform: translateY(-50%);
  line-height: 1em;

}

.header-left span#time{
  display: inline;
  font-size: 1.6em;
  font-weight: 900;
}
.header-left span{
  display: block;
  margin-left: 5px;
  font-size: 1.2em;
}

.header-right{
  position: absolute;
  right: 0;
  line-height: 1em;

}
.right-text{ 
  padding: 20px;
  text-align: right;
  float: left;
}
.right-text h1{
  font-size: 1.5em;
  font-weight: 900;
}
#s-t{
  display: inline;
  font-size: 1.3em;
  font-weight: 900;
}
.right-text span{
  display: block;
  font-size: 1.2em;
  font-weight: 500;
}
.captcha{
  width: 200px;
  overflow: hidden;
}
.captcha img{
  width: 100%;
}
@media (max-width: 1000px){

  .header-left span#time{
      font-size: 2em;
  }
  .header-left span{
    font-size: 1.2em;
  }

  .right-text{
    padding: 15px;
   }
  .right-text h1{
      font-size: 1.6em;
  }
  .right-text span{
      font-size: 1.3em;
  }
 
} 
@media (max-width: 550px){
  
  .header-left span#time{
      font-size: 1.5em;
  }
  .header-left span{
    font-size: .6em;
  }
  .right-text #s-t{
      font-size: .9em;
  }
  .right-text span{
      font-size: .8em;
  }
  .header-right .right-text{
    line-height: 1em;
  }
  
 
  
  
}


/********************************

          game screen

********************************/

.container {
  position: relative;
  width: 100%!important;
  height: 100%!important;
}
#gameScreen {
  position: relative;
  width: 100%!important;
  height: 100%!important;
}
#intialScreen {
  position: fixed;
  z-index: 1000
}
#countdownScreen {
  position: fixed;
  z-index: 1000
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
}
#time {
    font-weight: bold;
}

.envolver{
    width: 100%;
    height: 100vh;

}

#gameCanvas {}


.container {
  position: relative;
  width: 100%;
  height: 100vh;
}
#gameScreen {
  display: none;
  width: 100%;
  height: 100%;
}
#intialScreen {
  position: fixed;
  z-index: 1000
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
}
#time {
    font-weight: bold;
} */

  /********************************

        final game message

********************************/
#scoreScreen h2{
  padding: 3%;
  text-align: center;
  font-family: Open Sans;
  font-weight: 700;
  font-size: 2.1em;
  color: #fff;
  display: block;
  margin-bottom: 2%;
}

.buttons-style{
  font-weight: 700;
  font-family: Open Sans;
  padding: .5em .8em;
  font-size: 1.5em;
}



/********************************

          new header

********************************/

.flex-grid { }


/** column 1 **/
.col:nth-child(1){
  line-height: 1;
  padding: 10px 10px;
}
.col:nth-child(1) #time{
  font-size: 1.7em;

}
.col:nth-child(1) span{
  display: block;
  font-size: 1em;
}


/** column 2 **/
.col:nth-child(2){
  line-height: .1em;
  padding: 10px 0;
  text-align: right;
}
.col:nth-child(2) h1{
  font-size: 1.3em;

}
.col:nth-child(2) span{
  display: block;
  font-size: 1em;
}

/** column 3 **/
.col:nth-child(3){
  /* background: red; */
}
.col:nth-child(3) img{
  float: right;
}

@media (max-width: 558px){

  .col:nth-child(1){
    line-height: 1;
    padding: 10px 10px;
  }
  .col:nth-child(1) #time{
    font-size: 1.2em;

  }
  .col:nth-child(1) span{
    display: block;
    font-size: .9em;
  }


  /** column 2 **/
  .col:nth-child(2){
    line-height: .1em;
    padding: 15px 0;
    text-align: right;
  }
  .col:nth-child(2) h1{
    font-size: .9em;
    font-weight: bold;
  }
  .col:nth-child(2) span{
    display: block;
    font-size: .85em;
  }

  /** column 3 **/
  .col:nth-child(3){
    /* background: red; */
  }
  .col:nth-child(3) img{
    float: right;

}
